<!DOCTYPE html>
<!-- Template by html.am -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>A -- VERY -- simple Ruby/Sinatra app for CF</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body>
		<header id="header">
			<div class="innertube">
				<h1>Sinatra Test App for Cloud Foundry</h1>
			</div>
		</header>

		<div id="wrapper">
			<main>
				<div id="content">
					<div class="innertube">
                      <h2>IP: <%= @host %> - Port: <%= @port %> - DEA Index: <%= @index %></h2>
                      <img src="https://pbs.twimg.com/media/CTEXWqmWUAAV8jL.png"></img>
                      <h3>Connected to the MySQL <%= @db_name %> database</h3>
                      <h4>Tables in the schema</h4>
                      <ul>
                        <% @query_result.each do |row| %>
                            <li><%= row['table_name'] %></li>
                        <% end %>
                      </ul>
					</div>
				</div>
			</main>
		</div>
		
		<footer id="footer">
			<div class="innertube">
				<p>JPG - Altoros - Devops Conf, Buenos Aires, 11/11/2015</p>
			</div>
		</footer>

	</body>
</html>
